{% extends 'base.html' %}

{% block contenido %}

<h2 class="mb-4">

Dashboard

</h2>

<div class="row">

<div class="col-md-3">

<div class="card p-3">

<h5>Canciones</h5>

<h2>0</h2>

</div>

</div>

<div class="col-md-3">

<div class="card p-3">

<h5>Artistas</h5>

<h2>0</h2>

</div>

</div>

<div class="col-md-3">

<div class="card p-3">

<h5>Playlists</h5>

<h2>0</h2>

</div>

</div>

<div class="col-md-3">

<div class="card p-3">

<h5>Usuarios</h5>

<h2>0</h2>

</div>

</div>

</div>

{% endblock %}